
html {
	min-height: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.en-home {
  background-size: 100% 100%;
}

.en-top-bar {
  width: 1000px;
  height: 45px;
  margin: 0 auto;
}

/* override qTranslate plugin */
.qtrans_language_chooser { list-style-type:none }
.qtrans_language_chooser li { float:left; margin-right:3px }
.qtrans_flag { width: 25px !important; height: 25px !important; }

.en-language-chooser {
  float: right;
  margin: 10px 0px;
}

.en-nav {
  
}

.en-logo {
  margin-top: -6px;
  float: left;
}

.en-nav-beginning {
  height: 65px;
  width: 300px;
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
  float: left;
}

.en-nav-home {
  height: 65px;
  width: 80px;
  float: left;  
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
}



.en-nav-home a {
  height: 65px;
  width: 80px;
  float: left;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: #249B19 solid 5px;
  margin-top: 40px;
}



.en-nav-bar {
  height: 65px;
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
  list-style: none;
  font-size: 14px;
  min-width: 850px;
  margin-left: 565px;
  padding-left: 20px;
 }

.en-nav-bar > li {
  float: left;
  padding-right: 20px;
  padding-top: 40px;
	padding-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}

.en-nav-bar > li a {
  color: white;
  font-weight: bold;
    text-decoration: none;
}

.en-nav-bar > li > ul{
  display: none;
}

.en-nav-bar > li > ul{
  list-style: none;
  margin: 0px;
}

.en-nav-bar > li:hover > ul{
  text-transform: none;
  display: block;
  position: absolute;
  background-image: url('images/design-images/bg-nav-submenu.png');
  background-repeat: repeat-x repeat-y;
  width: 300px;
  margin-top: 9px;
  margin-left: -10px;
  z-index: 5;
	padding-left: 0;
}

.en-nav-bar > li:hover > ul a{
  padding: 10px;
  line-height: 30px;
  font-weight: normal
}

.en-nav-bar > li:hover > ul a:hover {
  color: #249B19;
}

.en-nav-bar > li > a:after {
  content: ''; 
  background-image: url('images/design-images/white-carret.png');
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-left: 10px;
}

.en-nav-bar li > a:only-child:after {
  content: ''; 
  background-image: none;
}

.en-page {
  height: 1100px;
}

.en-content {
  width: 800px;

  background-color: rgba(0, 0, 0, 0.1);
  
  margin-left: 565px;
  margin-top: 20px;

  font-weight: normal;
  font-size: 14px;

  border-radius: 0px 20px 20px 0px;

  border-left: #249B19 solid 5px;
  
}

.en-content .entry-content {
	padding: 15px;
	text-align: justify;
}


h1.entry-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  padding: 15px 15px 0;
}

#secondary {
	display: none;
}

/* plugins ---------------------------------------------------------- */
/* contact form 7 */
.en-content .entry-content .wpcf7 {
	width: 360px;
	display: inline-block;
	margin-right: 15px;
}

.en-content .entry-content .wpcf7 .field-title,
.en-content .entry-content .wpcf7 input[type="submit"] {
	background-color: #249B19;
	color: #ffffff;
	padding: 6px;
}

.en-content .entry-content .wpcf7 .wpcf7-form-control-wrap {
	background-color: #333333;
	display: block;
	padding: 15px 20px;
	border-radius: 0 0 40px 40px;
}

.en-content .entry-content .wpcf7 .wpcf7-form-control {
	background-color: #333333;
	color: #ffffff;
	border: none;
	max-width: 320px;
}

/* wp google maps */
#wpgmza_map {
	display: inline-block !important;
	max-width: 390px;
	vertical-align: top;
}

/* nextgen gallery */
.entry-content .ngg-galleryoverview {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0 20px 20px 0;
	margin-left: -15px;
	padding: 40px 0;
	width: 800px;
}

.ngg-galleryoverview .gallery-arrow {
	background-image: url("images/design-images/arrow-left.png");
	background-position: 0px 30px;
	background-repeat: no-repeat;
	height: 108px;
	width: 44px;
	border-radius: 20px;
	cursor: pointer;
}

.ngg-galleryoverview .gallery-arrow:active {
	background-position: 0 32px;
	background-size: 44px auto;
}

.ngg-galleryoverview .gallery-arrow.right {
	background-image: url("images/design-images/arrow-right.png");
}

.ngg-galleryoverview > div {
	float: left;
}

.ngg-galleryoverview .gallery-slider-wrapper {
	margin: 0 10px;
	overflow: hidden;
	width: 690px;
	position: relative;
}

.ngg-galleryoverview .gallery-slider {
	white-space: nowrap;
	position: relative;
}

.ngg-galleryoverview .gallery-slider > div {
	display: inline-block;
	float: none;
  padding-top: 10px;
}

.en-archive-header {
  margin: 24px auto;
}

.en-archive-title {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding-left: 30px;
}

.en-no-posts {
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
}

.entry-meta {
  display: none;
}

a.next.page-numbers, 
a.prev.page-numbers {
  display: none;
}