* { margin: 0; padding: 0px; }

.en-home {
  background-size: 100% 100%;
}

.en-top-bar {
  width: 1000px;
  height: 45px;
  margin: 0 auto;
}

/* override qTranslate plugin */
.qtrans_language_chooser { list-style-type:none }
.qtrans_language_chooser li { float:left; margin-right:3px }
.qtrans_flag { width: 25px !important; height: 25px !important; }

.en-language-chooser {
  float: right;
  margin: 10px 0px;
}

.en-nav {
  
}

.en-logo {
  margin-top: -6px;
  float: left;
}

.en-nav-beginning {
  height: 65px;
  width: 300px;
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
  float: left;
}

.en-nav-home {
  height: 65px;
  width: 80px;
  float: left;  
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
}



.en-nav-home a {
  height: 65px;
  width: 80px;
  float: left;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: #249B19 solid 5px;
  margin-top: 40px;
}



.en-nav-bar {
  height: 65px;
  background-image: url('images/design-images/bg-nav1.png');
  background-repeat: repeat-x;
  list-style: none;
  font-size: 14px;
  width: 1200px;
  margin-left: 565px;
  padding-left: 20px;
 }

.en-nav-bar > li {
  float: left;
  padding-right: 20px;
  padding-top: 40px;
  text-transform: uppercase;
  position: relative;
}

.en-nav-bar > li a {
  color: white;
  font-weight: bold;
}

.en-nav-bar > li > ul{
  display: none;
}

.en-nav-bar > li > ul{
  list-style: none;
  margin: 0px;
}

.en-nav-bar > li:hover > ul{
  text-transform: none;
  display: block;
  position: absolute;
  background-image: url('images/design-images/bg-nav-submenu.png');
  background-repeat: repeat-x repeat-y;
  width: 300px;
  margin-top: 3px;
  margin-left: -10px;
  z-index: 5;
}

.en-nav-bar > li:hover > ul a{
  padding: 10px;
  line-height: 30px;
  font-weight: normal
}

.en-nav-bar > li:hover > ul a:hover {
  color: #249B19;
}

.en-nav-bar > li > a:after {
  content: ''; 
  background-image: url('images/design-images/white-carret.png');
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-left: 10px;
}

.en-nav-bar li > a:only-child:after {
  content: ''; 
  background-image: none;
}

.en-page {
  height: 1100px;
}

.en-content {
  width: 720px;

  background-color: rgba(0, 0, 0, 0.1);
  
  margin-left: 565px;
  margin-top: 20px;

  font-weight: normal;
  font-size: 14px;

  -webkit-border-top-right-radius: 20px; 
  -moz-border-radius-topright: 20px; 
  border-top-right-radius: 20px; 
  -webkit-border-bottom-right-radius: 20px; 
  -moz-border-radius-bottomright: 20px; 
  border-top-bottom-radius: 20px; 

  border-left: #249B19 solid 5px;
  
}

h1.entry-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  padding-top: 10px;
}